/* Decoratives non animation related */
.card {
  display: flex;
  align-items: flex-end;
  border-radius: 16px;
  padding: 4rem;
  border: 1px solid var(--background-color);
  box-shadow: 0 0 3rem 0.5rem hsla(0, 0%, 0%, 0.2);
  width: 300px;
  height: 360px;
  transform-style: preserve-3d;
  font-size: 12px;
}
